.contacts {
    padding: 100px 0;
    background-color: #e1e2e6;
}

.contacts h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

.contacts .contacts-group {
    font-size: 16px;
    color: #414247;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}
