#map {
  flex: 1;
  height: 420px;
  border-radius: 12px;
}

.branches-layout {
  display: flex;
  gap: 30px;
  align-items: stretch;
  margin-top: 40px;
}

.branch-slider {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 15px;
}

.branch-card {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  min-height: 320px;
  flex: 1;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}

.slider-btn {
  background: #111;
  color: #fff;
  border: none;
  padding: 10px 14px;
  border-radius: 50%;
  cursor: pointer;
}
