@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url("main.css");
@import url("branches.css");
@import url("contacts.css");
@import url("about.css");
@import url("map.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(10, 23, 40, 0.918)), url(../images/fondo.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;

}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: #FFFDFC;
    /* text-transform: uppercase; */
    padding: 0 100px;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 16px;
    color: #ce967b;
    padding: 0 100px;
    margin-bottom: 25px;
}

.menu-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1f2933;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #FFFDFC;
    font-size: 25px;
    font-weight: 800;
}

.menu-container .navbar ul li {
    position: relative;
    float: left;

}

.menu-container .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FFFDFC;
    display: block;
    font-weight: 600;
}

.menu-container .navbar ul li a:hover {
    color: #ce967b
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu-container label {
    cursor: pointer;
    display: none;
}

.btn-primary {
    display: inline-block;
    padding: 15px 35px;
    background-color: #ce967b;
    color: #fcfcfc;
    text-transform: uppercase;
}

.btn-primary:hover {
    background-color: #ce967b;

}